/*Fontes*/
@font-face {
    font-family: "headers";
    src: url("../font/friz/FrizQuadrataRegular.woff2");
}
@font-face {
    font-family: "montserrat";
    src: url("../font/Montserrat-ExtraBoldItalic.woff2");
}
@font-face {
    font-family: "menu";
    src: url("../font/OpenSansCondensed-Light.woff2");
}
@font-face {
    font-family: "nunito";
    src: url("../font/Nunito-Regular.woff2");
}

/* Home */
body{
    font-family: nunito;
    background-color: #191A22;
    background-image: url('../img/background-dark-grey-noise.jpg');
    color: whitesmoke;
}
#background-video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
#background-video video{
    width: 100%;
    height: 100%;
    position: relative;
    float: right;
    object-fit: cover;
    z-index: -1;
}
#background-video video.mobile{
    width: auto;
    height: 100%;
    position: relative;
    float: right;
}
#background-video.intern-pages-video-bg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}
.navbar{
    position: absolute;
    width: 100%;
    top: 0;
    font-family: 'menu';
    font-size: x-large;
    text-transform: uppercase;
    z-index: 1000;
}
.navbar-dark .navbar-nav .nav-link{
    color: #cc8e12; 
    text-shadow: 0 0 3px black;
}
.bg-nav{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.964005585144214) 0%, rgba(0,0,0,0) 100%);
    padding: 20px;
}
.bg-blue{
    background-color: #142b87;
    opacity: .5;
    display: none;
}
.container-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 5;
}
.conteudo{
    background-color: #191A22;
    padding-top: 50px;;
}
hr{
    background: linear-gradient(to right, rgba(255,0,0,0), #D5AD6D, rgba(255,0,0,0));
    height: 1px;
    border: none;
}
.banner{
    width: 100%;
    z-index: -1;
    padding-top: 80px;
    padding-bottom: 30px;
    object-fit: fill;
    text-align: center;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    box-shadow: 0px 10px 10px #000;
}
.banner-my-decks{
    background-image: url('../img/my-decks.png');
    background-size: cover;
    background-position: center;
    padding-bottom: 0px;
}
.banner-my-decks h1{
    font-size: 2.8em;
}
.banner-deck-creator{
    background-image: url('../img/deck-creator.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 0px;
}
.banner-deck-creator h1{
    font-size: 2.8em;
}
.banner-galeria-cartas{
    background-image: url('../img/card-gallery.png');
    background-size: cover;
    background-position: center;
}
.banner-carta{
    padding-top: 50px;
    padding-bottom: 0px;
    background-size: cover;
    background-position: center center;
}
.banner-carta h1{
    font-size: 2em;
    color: white;
    -webkit-text-fill-color: white !important;
    text-shadow: 0 0 10px #000;
}
.container-padrao{
    padding: 50px 0;
}
.info-grid{
    font-family: "nunito" !important;
}
.info-grid b{
    font-family: "montserrat" !important;
    text-transform: uppercase;
}
.info-grid td{
    padding: 12px;
    vertical-align: middle;
}
.info-grid td img{
    height: 30px;
    vertical-align: middle;
}
.modal-dialog img{
    width: 100%;
    height: auto;
}
.modal-body{
    padding: 0;
}
.modal-body .close{
    margin-right: 10px;
}
.carta-link{
    padding: 20px ;
}
.carta-link img{
    transition: .4s;
    width: 100%;
}
.carta-link img:hover{
    margin-top: -10px;
    filter: drop-shadow(0 0 10px #3064b8); 
}
.separador-cards{
    padding: 50px 0;
}
.related-cards{
    margin-top: 50px;
    margin-bottom: 80px;
}
.fade-separator{
    background: rgb(33,2,74);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #191A22 100%); 
    height: 100px;
}
.page-item{
    margin: 5px;
}
.page-item.active .page-link{
    background-color: #21024a;
    border-color: #21024a;
    box-shadow: 0 0 5px whitesmoke;
}
.page-link{
    background-color: transparent;
    border: 2px solid white;
    color: white;   
    border-radius: 5px;
    transition: .3s;
}
.page-link:hover{
    color: #21024a;
}
.width-47{
    width: 47px;
    text-align: center;
}
.margem-top-150{
    margin-top: 150px;;
}
.margem-top-80{
    margin-top: 80px;
}


/*Perfil*/
.profile-box{
    background-color: rgb(0,0,0,.5);
    padding: 70px;
    border-radius: 30px;
    box-shadow:
        inset 0 0 20px whitesmoke,
        inset 20px 0 20px #f0f,
        inset -20px 0 20px #0ff,
        inset 20px 0 50px #f0f,
        inset -20px 0 50px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}
.profile-box .form-group{
    padding-bottom: 30px;
}


/*share-box*/
.share-box{
    background-color: #100130;
    padding: 30px;
    border-radius: 20px;
}
h3{
    font-size: 20px;
    font-family: "nunito";
    margin-bottom: 25px;
}

/*CSS para formulários*/
.form-group div{
    padding: 20px;
}
.form-control{
    background-color: transparent;
    color: whitesmoke;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid whitesmoke;
    transition: .3s;
}
.form-control:focus{
    outline: none;
    background-color: transparent;
    border-color: #234d91;
    color: #234d91;
    box-shadow: none;
}
.filtro_regioes_galeria img, .filtro_raridades_galeria img{
    margin: 15px;
    transition: .1s;
    cursor: pointer;
}
.filtro_regioes_galeria h2, .filtro_raridades_galeria h2{
    font-size: 15px;
    margin-bottom: 10px;
}


/*regiões*/
.filtro_regioes_galeria #Bilgewater:hover, .filtro_regioes_galeria #Bilgewater.ativo{
    filter: drop-shadow(0 0 2px #f55d42);
}
.filtro_regioes_galeria #Demacia:hover, .filtro_regioes_galeria #Demacia.ativo{
    filter: drop-shadow(0 0 2px #fff);
}
.filtro_regioes_galeria #Freljord:hover, .filtro_regioes_galeria #Freljord.ativo{
    filter: drop-shadow(0 0 2px #00a6ff);
}
.filtro_regioes_galeria #Ionia:hover, .filtro_regioes_galeria #Ionia.ativo{
    filter: drop-shadow(0 0 2px #f542e9);
}
.filtro_regioes_galeria #Noxus:hover, .filtro_regioes_galeria #Noxus.ativo{
    filter: drop-shadow(0 0 2px red);
}
.filtro_regioes_galeria #PiltoverZaun:hover, .filtro_regioes_galeria #PiltoverZaun.ativo{
    filter: drop-shadow(0 0 2px #d6bd31);
}
.filtro_regioes_galeria #ShadowIsles:hover, .filtro_regioes_galeria #ShadowIsles.ativo{
    filter: drop-shadow(0 0 2px #927ff5);
}
/*raridades*/
.filtro_raridades_galeria #All{
    border-radius: 50%;
}
.filtro_raridades_galeria #All:hover, .filtro_raridades_galeria #All.ativo{
    box-shadow: -5px -5px 30px #00c43e,
    -10px 10px 30px #6f00c4,
    10px -10px 20px #1b5f9e,
    10px 10px 20px #f7a900;
}
.filtro_raridades_galeria #Common:hover, .filtro_raridades_galeria #Common.ativo{
    filter: drop-shadow(0 0 8px #00c43e);
}
.filtro_raridades_galeria #Rare:hover, .filtro_raridades_galeria #Rare.ativo{
    filter: drop-shadow(0 0 8px #1b5f9e);
}
.filtro_raridades_galeria #Epic:hover, .filtro_raridades_galeria #Epic.ativo{
    filter: drop-shadow(0 0 8px #6f00c4);
}
.filtro_raridades_galeria #Champion:hover, .filtro_raridades_galeria #Champion.ativo{
    filter: drop-shadow(0 0 8px #f7a900);
}


/* Página de cadastro */
.cadastro-box{
    background-color: rgb(0,0,0, .9);
    padding: 20px;
    border-radius: 10px;
}
.cadastro-box .form-group{
	margin-bottom: 30px;
}

/*Importar deck*/
.importar-deck{
    background-color: #424242;
    border-radius: 20px;
    text-transform: uppercase;
    transition: .5s;
    padding: 50px;
    height: 100%;
}
.importar-deck:hover{
    box-shadow: 
        inset 0 0 60px whitesmoke,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}
.importar-deck a{
    font-size: 17px;
    color: white;
    width: 100;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
}
.importar-deck img{
    width: 80px;
}
.deck-box-container{
    height: 100%;
    background-image: url("../img/cardback/cb-fliperama.png");
    background-size: cover;
    box-shadow: inset 0 -4px 2px -1px #000;
    padding: 0;
    transition: .4s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 100;
}
.deck-box-container:hover {
    box-shadow: 
        inset 0 -4px 2px -1px #000,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
    z-index: 1000;
}
.deck-box-container a{
    font-size: 20px;
    color: white;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.deck-box-container a span{
    position: relative;
    bottom: 0;
}
.deck-box{
    text-transform: uppercase;
    transition: .5s;
    padding: 0;
    width: 100%;
    height: 100%;
}
.deck-box .regions{
    padding: 40px 0 10px 0;
}
.deck-box .regions img{
    filter: drop-shadow(0 0 10px #000); 
}
.letreiro{
    position: relative;
    margin: 0;
    left: 0;
    bottom: 0;
    height: 80px;
    overflow: hidden;
    font-family: headers;
    font-size: 23px;
    overflow: hidden;
    text-transform: capitalize;
    vertical-align: middle;
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.deck-list .col-md-3{
    margin-bottom: 40px;
    height: 217px;
}
.deck-lista h2{
    font-size: 25px;
    margin-bottom: 25px;
}
.card-item{
    background-size: cover;
    background-position: center;
    padding: 10px 30px;
    border-radius: 20px;
    margin-bottom: 10px;
    color: black;
    text-shadow:
        1px 0 0 #fff, 
        -1px 0 0 #fff, 
        0 1px 0 #fff, 
        0 -1px 0 #fff, 
        1px 1px #fff, 
        -1px -1px 0 #fff, 
        1px -1px 0 #fff, 
        -1px 1px 0 #fff;
}
.deck-lista a{
    text-decoration: none;
}
.deck-code-box{
    text-align: center;
}
.deck-code-box h1{
    font-size: 50px;
    padding-bottom: 20px; 
}
.deck-code-box p{
    width: 100%;
    word-break: break-all;
    margin-bottom: 20px;
}


/* HOME SLIDER */
.carousel{
    min-height: 420px;
}

/* FOOTER */
footer{
    margin-top: 80px;
}
.footer-copyright{
    background-color: #21024a;
    color: whitesmoke;
}



/*letras douradas*/
h1 {
    color:	#D5AD6D; /*if no support for background-clip*/
    font-size: 100px;
    font-family: 'headers', serif;
	background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 40px;
}
h2{
    font-family: 'montserrat';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    color: whitesmoke;
    text-shadow:
		5px 5px 10px rgba(14, 12, 12, 0.4),
        -5px -5px 10px rgba(0, 0, 0, 0.4);
        text-align: center;
}



/* Responsividade */
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 50px;
    }
    .carta-link{
        padding: 20px 80px ;
    }
}